.App {
  width: 600px;
  position: relative;
}

.LeftSideGridContainer .HeaderGrid {
  z-index: 2;
}

.LeftSideGrid {
  overflow: hidden !important;
  background: #fff;
  z-index: 1;
}

.HeaderGrid {
  overflow: hidden !important;
  background: #fff;
  z-index: 1;
}