body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  flex-basis: 100vh;
  min-height: 100vh;
}

.active {
  color: black;
}

.normal,
.active {
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  box-sizing: border-box;
}

.leftSide {
  overflow: hidden;
  position: absolute;
}

.leftSideContent {
  position: relative;
}